@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #15171F;
    color: white;
}

.description {
    font-weight: 500;
}

.header {
    font-weight: 700;
}

#color-text {
    color: #7A86F2
}